<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <%= link_to (image_tag "carousel/1.png", alt: "special offers", class: "media-object", style: "width:100%"), root_path, class: "pull-left" %>

          <div class="carousel-caption hidden-xs">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= link_to (image_tag "carousel/2.png", alt: "special offers", class: "media-object", style: "width:100%"), root_path, class: "pull-left" %>
          <div class="carousel-caption hidden-xs">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= link_to (image_tag "carousel/3.png", alt: "special offers", class: "media-object", style: "width:100%"), root_path, class: "pull-left" %>
          <div class="carousel-caption hidden-xs">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= link_to (image_tag "carousel/4.png", alt: "special offers", class: "media-object", style: "width:100%"), root_path, class: "pull-left" %>
          <div class="carousel-caption hidden-xs">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <%= link_to (image_tag "carousel/5.png", alt: "special offers", class: "media-object", style: "width:100%"), root_path, class: "pull-left" %>
          <div class="carousel-caption hidden-xs">
            <h4>Second Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control hidden-xs" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control hidden-xs" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<div id="main-body">
<div class="container">
<div class="row">
<div id="sidebar" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
  <%= render 'shared/side_cat' %>

  <div class="hidden-xs">
    <h3 class="sidebar-title">Recently Viewed</h3>
    <ul class="media-list">
      <li class="media">
        <%= link_to (image_tag "products/10.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Camera</a></h4>
          <p>There are many variations of passages of Lorem Ipsum</p>
        </div>
      </li>
      <li class="media">
        <%= link_to (image_tag "products/9.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Camera</a></h4>
          <p>There are many variations of passages of Lorem Ipsum.</p>
        </div>
      </li>
      <li class="media">
        <%= link_to (image_tag "products/8.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Clasic Camera</a></h4>
          <p>There are many variations of passages of Lorem Ipsum</p>
        </div>
      </li>
      <li class="media">
        <%= link_to (image_tag "products/7.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>
        <div class="media-body">
          <h4 class="media-heading"><a href="#">Lens</a></h4>
          <p>There are many variations of passages of Lorem Ipsum</p>
        </div>
      </li>
    </ul>
    <%= render 'shared/special_offer' %>
    <%= render 'shared/we_accept' %>

  </div>
</div>
<div id="main-col" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
<h3 class="col-md-12 col-sm-12 col-xs-12 no-margin-top"> Featured Products </h3>

<% @featured_items.each do |item_small| %>
    <%= render :partial=> "shared/item_small", object: item_small %>
<% end %>

<h3 class="col-md-12 col-sm-12 col-xs-12">Latest Products </h3>
  <% @latest_items.to(3).each do |item_small| %>
      <%= render :partial=> "shared/item_small", object: item_small %>
  <% end %>


  <% @latest_items.to_a.from(4).each do |item_medium| %>
      <%= render :partial=> "shared/item_medium", object: item_medium %>
  <% end %>


</div>
</div>
</div>
</div>

