<h3 class="cntr">Coming Soon</h3>
<div class="thumbnail">
  <%= link_to (image_tag "products/new-kindle.jpg", alt: "Kindle"), root_path %>
  <div class="caption">
    <h5 class="cntr">Kindle</h5>
  </div>
</div>