<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="thumbnail">
    <div class="product-overlay">

      <%= link_to (image_tag "products/home3.jpg", alt: "#"), root_path %>

      <div class="share-addto-cart">
        <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
        <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
        <a class="btn btn-danger" href="#"><i class="fa fa-comment-o"></i></a>
      </div>
    </div>
    <div class="caption">
      <h4><%= item_small.name %></h4>

      <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
      <%= link_to "Bid Now", item_small, class:"btn btn-success bid_link"   %>
    </div>
  </div>
</div>