<div class="col-md-4 col-sm-6 col-xs-12">
<div class="thumbnail">
  <div class="product-overlay">
    <a href="/"><img alt="#" src="/assets/products/5.jpg"></a>
    <div class="share-addto-cart">
      <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br><br>
      <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br><br>
      <a class="btn btn-danger" href="#"><i class="fa fa-comment-o"></i></a>
    </div>
  </div>
  <div class="caption">
    <h5> <%= item_medium.name %> </h5>
    <p>
      <%= item_medium.tagline %>
    </p>
    <p> <%= link_to "BID",item_medium, class:"btn btn-success pull-left"  %> <span class="pull-right price">$222.00</span></p>
  </div>
</div>
</div>
