<div id="specialOffer" class="carousel slide" data-ride="carousel">
  <h3 class="sidebar-title">Special Offer</h3>
  <div class="carousel-inner">
    <div class="item active">
      <div class="thumbnail">
        <%= link_to (image_tag "products/16gb-memory.jpg", alt: "#"), root_path %>

        <div class="caption">
          <h5 class="cntr">8GB Memory Card</h5>
          <h4><a class="btn btn-success" href="product_details.html">BID <span>$2.00</span></a></h4>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="thumbnail">
        <%= link_to (image_tag "products/8gb-memory.jpg", alt: "#"), root_path %>
        <div class="caption">
          <h5 class="cntr">16GB Memory Card</h5>
          <h4><a class="btn btn-success" href="product_details.html">BID <span>$1.50</span></a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
