<div class="container">
  <div class="row">
    <div id="sidebar" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <ul id="sideManu" class="list-group">
        <li class="subMenu list-group-item open">
          <a class="active"> <i class="fa fa-angle-right"></i>  ELECTRONICS [235]</a>
          <ul>
            <li><a href="products.html"> Cameras (100) <i class="fa fa-angle-right pull-right"></i> </a></li>
            <li><a href="products.html"> Computers, Tablets & laptop (30) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html"> Mobile Phone (80) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html"> Sound & Vision (15) <i class="fa fa-angle-right pull-right"></i></a></li>
          </ul>
        </li>
        <li class="subMenu list-group-item">
          <a class=""> <i class="fa fa-angle-right"></i> CLOTHES [840] </a>
          <ul style="display:none">
            <li><a href="products.html">  Women's Clothing (45)<i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Women's Shoes (8) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Women's Hand Bags (5) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Men's Clothings  (45) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Men's Shoes (6) <i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Kids Clothing (5)<i class="fa fa-angle-right pull-right"></i></a></li>
            <li><a href="products.html">  Kids Shoes (3)<i class="fa fa-angle-right pull-right"></i></a></li>
          </ul>
        </li>
        <li class="subMenu list-group-item">
          <a>  <i class="fa fa-angle-right"></i> FOOD AND BEVERAGES [1000]</a>
          <ul style="display:none">
            <li><a href="products.html">  Angoves  (35)</a></li>
            <li><a href="products.html">  Bouchard Aine & Fils (8)</a></li>
            <li><a href="products.html">  French Rabbit (5)</a></li>
            <li><a href="products.html">  Louis Bernard  (45)</a></li>
            <li><a href="products.html">  BIB Wine (Bag in Box) (8)</a></li>
            <li><a href="products.html">  Other Liquors & Wine (5)</a></li>
            <li><a href="products.html">  Garden (3)</a></li>
            <li><a href="products.html">  Khao Shong (11)</a></li>
          </ul>
        </li>
        <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> HEALTH & BEAUTY [18]</a></li>
        <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> SPORTS & LEISURE [58]</a></li>
        <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> BOOKS & ENTERTAINMENTS [14]</a></li>
      </ul>
      <div class="hidden-xs">
        <div id="specialOffer" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <h3 class="cntr">Special Offer</h3>
          <div class="carousel-inner">
            <div class="item active">
              <div class="thumbnail">
                <a href="product_details.html"><img src="themes/img/products/16gb-memory.jpg" alt=""></a>
                <div class="caption">
                  <h5 class="cntr">8GB Memory Card</h5>
                  <h4><a class="btn btn-success" href="product_details.html">VIEW <span>$2.00</span></a></h4>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumbnail">
                <a href="product_details.html"><img src="themes/img/products/8gb-memory.jpg" alt=""></a>
                <div class="caption">
                  <h5 class="cntr">16GB Memory Card</h5>
                  <h4><a class="btn btn-success" href="product_details.html">VIEW <span>$1.50</span></a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="cntr">Coming Soon</h3>
        <div class="thumbnail">
          <a href="product_details.html"><img src="themes/img/products/new-kindle.jpg" title="Bootshop New Kindel" alt="Bootshop Kindel"></a>
          <div class="caption">
            <h5 class="cntr">Kindle</h5>
          </div>
        </div>
        <h4>We Accepts</h4>
        <img src="themes/img/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods"/>
      </div>
    </div>
    <div id="main-col" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
      <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider"> </span></li>
        <li class="active">Contact</li>
      </ul>
      <h1>Contact Us</h1>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <h3> Leave A Message </h3>
          <p class="body_paragraph contact-paragraph">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          </p>
          <form role="form" method="post" class="form-wrapper">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-7">
                  <label for="name">
                    Name *
                  </label>
                  <input type="text" required="" placeholder="Your Name" minlength="2" data-errmsg="Name is required." class="form-control" name="name" id="name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-7">
                  <label for="email">
                    Email *
                  </label>
                  <input type="text" required="" placeholder="Your Email" minlength="2" data-errmsg="Email is required." class="form-control" name="email" id="email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-7">
                  <label for="message">
                    Subject
                  </label>
                  <input type="text" placeholder="Your Subject" class="form-control" name="subject" id="subject">
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-8">
                  <label for="message&quot;">
                    Message *
                  </label>
                  <textarea required="" rows="3" placeholder="Your Message" data-errmsg="Message is required." class="form-control" name="message" id="message"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 offset2">
                <input type="submit" class="btn btn-danger btn-lg" value="Submit Message">
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
          <h3>Contact Details</h3>
          <p>
            <span><i class="fa fa-phone"></i> (+44) 111-222-333</span><br/>
            <span><i class="fa fa-envelope"></i> email@domain.com</span><br/>
            <span><i class="fa fa-home"></i> Address, Post Code, Country</span><br/>
          </p>
          <br/>
          <br/>
          <h3> MARKETING DEPARTMENT </h3>
          <p>
            <span><i class="fa fa-phone"></i> (+44) 111-222-333</span><br/>
            <span><i class="fa fa-envelope"></i> email@domain.com</span><br/>
            <span><i class="fa fa-home"></i> Address, Post Code, Country</span><br/>
          </p>
          <br/>
          <br/>
          <h3> SALES DEPARTMENT </h3>
          <p>
            <span><i class="fa fa-phone"></i> (+44) 111-222-333</span><br/>
            <span><i class="fa fa-envelope"></i> email@domain.com</span><br/>
            <span><i class="fa fa-home"></i> Address, Post Code, Country</span><br/>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>