  <div class="container">
    <div class="row">
      <div id="sidebar" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <ul id="sideManu" class="list-group">
          <li class="subMenu list-group-item open">
            <a class="active"> <i class="fa fa-angle-right"></i>  ELECTRONICS [235]</a>
            <ul>
              <li><a href="products.html"> Cameras (100) <i class="fa fa-angle-right pull-right"></i> </a></li>
              <li><a href="products.html"> Computers, Tablets & laptop (30) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html"> Mobile Phone (80) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html"> Sound & Vision (15) <i class="fa fa-angle-right pull-right"></i></a></li>
            </ul>
          </li>
          <li class="subMenu list-group-item">
            <a class=""> <i class="fa fa-angle-right"></i> CLOTHES [840] </a>
            <ul style="display:none">
              <li><a href="products.html">  Women's Clothing (45)<i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Women's Shoes (8) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Women's Hand Bags (5) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Men's Clothings  (45) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Men's Shoes (6) <i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Kids Clothing (5)<i class="fa fa-angle-right pull-right"></i></a></li>
              <li><a href="products.html">  Kids Shoes (3)<i class="fa fa-angle-right pull-right"></i></a></li>
            </ul>
          </li>
          <li class="subMenu list-group-item">
            <a>  <i class="fa fa-angle-right"></i> FOOD AND BEVERAGES [1000]</a>
            <ul style="display:none">
              <li><a href="products.html">  Angoves  (35)</a></li>
              <li><a href="products.html">  Bouchard Aine & Fils (8)</a></li>
              <li><a href="products.html">  French Rabbit (5)</a></li>
              <li><a href="products.html">  Louis Bernard  (45)</a></li>
              <li><a href="products.html">  BIB Wine (Bag in Box) (8)</a></li>
              <li><a href="products.html">  Other Liquors & Wine (5)</a></li>
              <li><a href="products.html">  Garden (3)</a></li>
              <li><a href="products.html">  Khao Shong (11)</a></li>
            </ul>
          </li>
          <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> HEALTH & BEAUTY [18]</a></li>
          <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> SPORTS & LEISURE [58]</a></li>
          <li class="subMenu list-group-item"><a href="products.html"> <i class="fa fa-angle-right"></i> BOOKS & ENTERTAINMENTS [14]</a></li>
        </ul>
        <div class="hidden-xs">
          <div id="specialOffer" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <h3 class="cntr">Special Offer</h3>
            <div class="carousel-inner">
              <div class="item active">
                <div class="thumbnail">
                  <a href="product_details.html"><img src="themes/img/products/16gb-memory.jpg" alt=""></a>
                  <div class="caption">
                    <h5 class="cntr">8GB Memory Card</h5>
                    <h4><a class="btn btn-success" href="product_details.html">VIEW <span>$2.00</span></a></h4>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="thumbnail">
                  <a href="product_details.html"><img src="themes/img/products/8gb-memory.jpg" alt=""></a>
                  <div class="caption">
                    <h5 class="cntr">16GB Memory Card</h5>
                    <h4><a class="btn btn-success" href="product_details.html">VIEW <span>$1.50</span></a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="cntr">Coming Soon</h3>
          <div class="thumbnail">
            <a href="product_details.html"><img src="themes/img/products/new-kindle.jpg" title="Bootshop New Kindel" alt="Bootshop Kindel"></a>
            <div class="caption">
              <h5 class="cntr">Kindle</h5>
            </div>
          </div>
          <h4>We Accepts</h4>
          <img src="themes/img/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods"/>
        </div>
      </div>
      <div id="main-col" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a> <span class="divider"> </span></li>
          <li class="active">TAC</li>
        </ul>
        <h1> Terms and Conditions</h1>
      </div>
    </div>
  </div>