<div class="container">
<div class="row">
<div id="sidebar" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

<%= render 'shared/side_cat' %>

</div>


<div id="main-col" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
<ul class="breadcrumb">
  <li><a href="index.html">Home</a> <span class="divider"> </span></li>
  <li class="active">Products</li>
</ul>
<h1> Cameras and Accessories  </h1>
<div style="padding:8px; min-height:51px" id="myTab">
  <div class="pull-right">
    <a href="#blockView" data-toggle="tab"><span class="btn btn-default btn-large"><i class="fa fa-th-large"></i></span></a>
    <a href="#listView" data-toggle="tab"><span class="btn btn-default btn-danger btn-large"><i class="fa fa-list"></i></span></a>
  </div>
</div>
<div class="tab-content">
<div class="tab-pane active" id="listView">
<div class="row">
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/1.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/2.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/3.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/5.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/6.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/7.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/8.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/9.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/10.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/11.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-8 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
</div>
<div class="col-lg-3 hidden-md hidden-sm hidden-xs">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/5.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="tab-pane" id="blockView">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/1.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/2.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/4.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/5.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>