<div class="container">
<div id="sidebar" class="col-lg-3 col-md-4 col-sm-4 col-xs-12">

<%= render 'shared/side_cat' %>
<div class="hidden-xs">
<%= render 'shared/special_offer' %>
<%= render 'shared/coming_soon' %>
<%= render 'shared/we_accept' %>
</div>
</div>

<div id="main-col" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider"> </span></li>
  <li><%= link_to "Items", items_path %> <span class="divider"> </span></li>
  <li class="active">Item Details</li>
</ul>
<div class="col-md-5 col-sm-5 col-xs-12">
  <div id="gallery" class="currentImg">
    <%= link_to (image_tag "products/large/f1.jpg", alt: "Kindle"), "#", title: "Fujifilm FinePix S2950 Digital Camera", id:"img1",class: "main-img img-responsive", style:"display: block;" %>
    <%= link_to (image_tag "products/large/f2.jpg", alt: "Kindle"), "#", title: "Fujifilm FinePix S2950 Digital Camera", id:"img2",class: "main-img img-responsive background", style:"display: none;" %>
    <%= link_to (image_tag "products/large/f3.jpg", alt: "Kindle"), "#", title: "Fujifilm FinePix S2950 Digital Camera", id:"img3",class: "main-img img-responsive background", style:"display: none;" %>

    <!--<a href="themes/img/products/large/f1.jpg" title="Fujifilm FinePix S2950 Digital Camera"><img id="img1" src="themes/img/products/large/f1.jpg" alt="" class="main-img img-responsive" style="display: block;"></a>-->
    <!--<a href="themes/img/products/large/f2.jpg" title="Fujifilm FinePix S2950 Digital Camera"><img id="img2" src="themes/img/products/large/f2.jpg" alt="" class="main-img img-responsive background" style="display: none;"></a>-->
    <!--<a href="themes/img/products/large/f3.jpg" title="Fujifilm FinePix S2950 Digital Camera"><img id="img3" src="themes/img/products/large/f3.jpg" alt="" class="main-img img-responsive background" style="display: none;"></a>-->
  </div>
  <div id="differentview" class="carousel slide">
    <div class="carousel-inner chooseMe">
      <div class="item">
        <%= link_to (image_tag "products/large/f1.jpg", alt: "Kindle"), "#", "data-img" => "img1" %>
        <%= link_to (image_tag "products/large/f2.jpg", alt: "Kindle"), "#", "data-img" => "img2"%>
        <%= link_to (image_tag "products/large/f3.jpg", alt: "Kindle"), "#", "data-img" => "img3"%>
      </div>
      <div class="item active">
        <%= link_to (image_tag "products/large/f2.jpg", alt: "Kindle"), "#","data-img" => "img2" %>
        <%= link_to (image_tag "products/large/f3.jpg", alt: "Kindle"), "#", "data-img" => "img3" %>
        <%= link_to (image_tag "products/large/f1.jpg", alt: "Kindle"), "#", "data-img" => "img1" %>

      </div>
    </div>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group">
      <span class="btn btn-default"><i class="fa fa-envelope"></i></span>
      <span class="btn btn-default"><i class="fa fa-print"></i></span>
      <span class="btn btn-default"><i class="fa fa-zoom-in"></i></span>
      <span class="btn btn-default"><i class="fa fa-star"></i></span>
      <span class="btn btn-default"><i class="fa fa-thumbs-up"></i></span>
      <span class="btn btn-default"><i class="fa fa-thumbs-down"></i></span>
    </div>
  </div>
  <br/>
  <br/>
</div>
<div class="col-md-7 col-sm-7 col-xs-12">
  <h3> Fujifilm FinePix S2950 Digital Camera  </h3>
  <small>
    -14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen.<br/>
    -Full HD photos and 1280 x 720p HD movie capture. <br/>
    -ISO sensitivity ISO6400 at reduced resolution. <br/>
    -Tracking Auto Focus. Motion Panorama Mode. <br/>
    -Face Detection technology with Blink detection and Smile and shoot mode.<br/>
    -4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.<br/>
    -Weight 0.341kg (excluding battery and memory card). <br/>
    -Weight 0.437kg (including battery and memory card). OND363338
  </small>
  <hr class="soft">
  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-12">
      <form role="form">
        <div class="form-group">
          <label for="qty"><span>Qty.</span></label>
          <input type="number" class="form-control" id="qty" placeholder="1">
        </div>
      </form>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <form role="form">
        <div class="form-group">
          <label for="model"><span>Model</span></label>
          <select class="form-control" style="visibility: visible;">
            <option>Model 1</option>
            <option>Model 2</option>
            <option>Model 3</option>
            <option>Model 4</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <form role="form">
        <div class="form-group">
          <label for="color"><span>Color</span></label>
          <input type="text" class="form-control" id="color" placeholder="Only Black Color is Available">
        </div>
      </form>
    </div>
  </div>
  <hr class="soft clr"/>
  <p>
    14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution.
    Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.
    Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).
  </p>
  <hr class="soft">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <h3 style="margin-top:0">Total Amount : <span>220.00</span></h3>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="pull-right"> <button type="submit" class="btn btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</button></div>
    </div>
  </div>
  <br/>
  <br/>
  <hr class="soft">
  <a class="btn btn-default pull-right" href="#detail">More Details</a>
  <!-- Share -->
  <div class="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
    <div class="g-plusone" data-size="medium" data-annotation="none"></div>
    <a href="http://pinterest.com/pin/create/button/?url=PAGEURL&amp;media=IMAGE&amp;description=DESCRIPTION" data-pin-do="buttonPin" data-pin-config="beside">
      <img src="http://assets.pinterest.com/images/pidgets/pin_it_button.png" alt=""/>
    </a>
    <div class="fb-like" data-href="PAGEURL" data-send="false" data-width="120" data-show-faces="false" data-layout="button_count"></div>
  </div>
  <br class="clr">
  <a href="#" name="detail"></a>
  <hr class="soft">
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
<ul id="productDetail" class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
  <li><a href="#relatedProduct" data-toggle="tab">Related Products</a></li>
  <li><a href="#review" data-toggle="tab">Customer Review</a></li>
</ul>
<div id="myTabContent" class="tab-content">
<div class="tab-pane fade active in" id="home">
  <h4>Product Information</h4>
  <table class="table table-bordered">
    <tbody>
    <tr class="techSpecRow">
      <th colspan="2">Product Details</th>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Brand: </td>
      <td class="techSpecTD2">Fujifilm</td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Model:</td>
      <td class="techSpecTD2">FinePix S2950HD</td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Released on:</td>
      <td class="techSpecTD2"> 2011-01-28</td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Dimensions:</td>
      <td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td>
    </tr>
    <tr class="techSpecRow">
      <td class="techSpecTD1">Display size:</td>
      <td class="techSpecTD2">3</td>
    </tr>
    </tbody>
  </table>
  <h5>Features</h5>
  <p>
    14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen.<br/>
    Full HD photos and 1280 x 720p HD movie capture. <br/>
    ISO sensitivity ISO6400 at reduced resolution. <br/>
    Tracking Auto Focus. Motion Panorama Mode. <br/>
    Face Detection technology with Blink detection and Smile and shoot mode.<br/>
    4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm.<br/>
    Weight 0.341kg (excluding battery and memory card). <br/>
    Weight 0.437kg (including battery and memory card). OND363338
  </p>
  <h4>Editorial Reviews</h4>
  <h5>Manufacturer's Description </h5>
  <p>
    With a generous 18x Fujinon optical zoom lens, the S2950 really packs a punch, especially when matched with its 14 megapixel sensor, large 3.0" LCD screen and 720p HD (30fps) movie capture.
  </p>
  <h5>Electric powered Fujinon 18x zoom lens</h5>
  <p>
    The S2950 sports an impressive 28mm – 504mm* high precision Fujinon optical zoom lens. Simple to operate with an electric powered zoom lever, the huge zoom range means that you can capture all the detail, even when you're at a considerable distance away. You can even operate the zoom during video shooting. Unlike a bulky D-SLR, bridge cameras allow you great versatility of zoom, without the hassle of carrying a bag of lenses.
  </p>
  <h5>Impressive panoramas</h5>
  <p>
    With its easy to use Panoramic shooting mode you can get creative on the S2950, however basic your skills, and rest assured that you will not risk shooting uneven landscapes or shaky horizons. The camera enables you to take three successive shots with a helpful tool which automatically releases the shutter once the images are fully aligned to seamlessly stitch the shots together in-camera. It's so easy and the results are impressive.
  </p>
  <h5>Sharp, clear shots</h5>
  <p>
    Even at the longest zoom settings or in the most challenging of lighting conditions, the S2950 is able to produce crisp, clean results. With its mechanically stabilised 1/2 3", 14 megapixel CCD sensor, and high ISO sensitivity settings, Fujifilm's Dual Image Stabilisation technology combines to reduce the blurring effects of both hand-shake and subject movement to provide superb pictures.
  </p>
</div>
<div class="tab-pane fade" id="relatedProduct">
<div style="padding:8px; min-height:51px" id="myTab">
  <div class="pull-right">
    <a href="#listView" data-toggle="tab"><span class="btn btn-default btn-large"><i class="fa fa-list"></i></span></a>
    <a href="#blockView" data-toggle="tab"><span class="btn btn-default btn-danger btn-large"><i class="fa fa-th-large"></i></span></a>
  </div>
</div>
<hr class="soft">
<div class="tab-content">
<div class="tab-pane" id="listView">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="product_details.html"> <img src="themes/img/products/4.jpg" alt=""> </a>
  </div>
  <div class="col-md-9 col-sm-6 col-xs-12">
    <h3>New | Available</h3>
    <hr class="soft">
    <h5>Product Name </h5>
    <p>
      Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies -
      that is why our goods are so popular..
    </p>
    <form class="form-horizontal qtyFrm">
      <div class="btn-group pull-right">
        <a href="product_details.html" class="btn btn-default btn-large">VIEW</a>
        <a href="product_details.html" class="btn btn-default btn-danger btn-large"><i class="fa fa-shopping-cart"></i> Add to cart</a>
      </div>
      <h3> $222.00</h3>
      <label class="checkbox">
        <input type="checkbox">  Adds product to compair
      </label><br>
    </form>
  </div>
</div>
<hr class="soft">
</div>
<div class="tab-pane active" id="blockView">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/1.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/2.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/4.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/5.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-default" href="#"><i class="fa fa-heart"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <div class="product-overlay">
        <a href="product_details.html"><img src="themes/img/products/3.jpg" alt=""/></a>
        <div class="share-addto-cart">
          <a class="btn btn-default" href="#"><i class="fa fa-share-alt"></i></a> <br/><br/>
          <a class="btn btn-danger" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="caption">
        <h4>Product name</h4>
        <a class="icon-retweet" data-placement="top" data-toggle="tooltip" data-original-title="Add to Compare"></a>
        <p><span class="old-price">$250.00</span> <span class="new-price">$222.00</span></p>
        <p><a class="btn btn-success" href="product_details.html">View  Details</a></p>
      </div>
    </div>
  </div>
</div>
</div>
<br class="clr">
</div>
<div class="tab-pane fade" id="review">
  <h4>Customers reviews</h4>
  <div id="comments">
    <h2>7 Comments</h2>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          <!-- Nested media object -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <!-- Nested media object -->
              <div class="media">
                <a class="pull-left" href="#">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
                </a>
                <div class="media-body">
                  <h4 class="media-heading">Nested media heading</h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
              </div>
            </div>
          </div>
          <!-- Nested media object -->
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
            </a>
            <div class="media-body">
              <h4 class="media-heading">Nested media heading</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            </div>
          </div>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
        </div>
      </li>
    </ul>
    <hr>
    <h4>Leave a reply <small class="block fsize13 font300">Your email address will not be published.</small></h4>
    <form id="commentForm" class="form-horizontal" method="post" action="#">
      <div class="row">
        <div class="col-md-4">
          <label>Name *</label>
          <input required="" class="form-control input-lg" type="text" name="author" id="author" value="">
        </div>
        <div class="col-md-4">
          <label>Email *</label>
          <input required="" class="form-control input-lg" type="text" name="email" id="email" value="">
        </div>
        <div class="col-md-4">
          <label>Website</label>
          <input class="form-control input-lg" type="text" name="url" id="url" value="">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <textarea required="" class="form-control input-lg" id="comment" name="comment" rows="5" placeholder="Your Comment *"></textarea><br>
        </div>
        <br>
        <div class="col-md-12 fsize16">
          <p>
            <input type="checkbox" name="subscribe_comments" id="subscribe_comments" value="subscribe">
            <label for="subscribe_comments">Notify me of follow-up comments by email.</label>
            <br>
            <input type="checkbox" name="subscribe_blog" id="subscribe_blog" value="subscribe">
            <label for="subscribe_blog">Notify me of new posts by email.</label>
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <button class="btn btn-primary btn-danger">Post Comment</button>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>

