body {color: #555555;font-family: Arial,Lucida Grande,Verdana,sans-serif;}
a{color:#d9534f}
a:hover{color:#444; text-decoration:none}
img{max-width:100%}
#welcome-line{padding-top: 8px}
#header {background: #f7f7f7; margin: 0;}
#header .navbar-nav>li>.dropdown-menu {margin-top: 0;border-top-right-radius: 0;border-top-left-radius: 0;padding: 18px;text-align: left;}
#header .dropdown-menu {min-width:100%}
#header .navbar-toggle .icon-bar {background-color: #d9534f}
#header .navbar-nav.navbar-right:last-child {margin-right: 0}
#header .navbar {margin-top: 8px;}
#header .navbar-toggle {padding: 18px 10px;margin-right: 0;}
#header .logo {padding: 13px 10px;display: inline-block;height: auto;}
#header .navbar-nav>li>a {line-height: 45px;color: #444;font-size: 17px;}
#header .navbar-collapse{padding:0}
#header .navbar-nav{margin:0}
#header .logo.mlogo {padding: 0;display: block;height: auto;float: none;text-align: center;}
#sidebar{z-index:999;}
#dropped-menu{width:400px;}
#carouselBlk{background: url(headerRepeat.png) repeat-x 0 0 #f7f7f7; }
.clr{clear:both}
.breadcrumb {padding: 8px 15px;margin-bottom: 20px;list-style: none;background-color: #f5f5f5;border-radius: 0;font-size: 17px;}
#srchFld {background: url(search.png) no-repeat right center;border-radius: 0;padding: 8px;margin: 21px 0 0;line-height: 16px;}
.no-margin-top{margin-top:0}
.welcome{line-height:34px}
.tag {background: url(new.png) no-repeat 0 0;position: absolute;display: block;top: 0;right: 0px;height: 48px;width: 48px;z-index:9999}
.navbar-collapse{
min-height: 40px;	
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.btn-brand {
display: inline-block;
padding: 4px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 20px;
color: #333;
text-align: center;
text-shadow: 0 1px 1px rgba(255,255,255,0.75);
vertical-align: middle;
cursor: pointer;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border: 1px solid #bbb;
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
border-bottom-color: #a2a2a2;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.btn-brand:hover {color: #222;text-decoration: none;background-color: #e0e0e0;}
#carouselBlk .carousel-caption{display:none}
.carousel-control.right, .carousel-control.left{background-image: none !important;background-image: none !important;background-repeat: repeat-x;line-height:300px;top:80px;font-size:6em;color:#888;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);}
.price{line-height:34px}
#main-body{padding-top:28px}
#main-body h5 {font-size: 14px; font-weight: bold;}
#main-body .caprion p{text-align:center}
#differentview .item a {float: left;max-width: 30%;}
#footer-section{border-top:1px solid #c9e1f4; background:#FAFAFA; padding:60px 0 44px; margin-top:80px}
#bottom-line{background:#444;padding:8px 0; color:#fff}
#bottom-line a{ color:#fff; text-decoration:underline; padding:0 6px}
.comment{background: #F1F1F1;padding: 8px;margin-bottom:8px; }
.cntr{text-align:center}
#sideManu li ul {list-style:none;background: #fff;margin: 0;padding: 0;}
#sideManu .list-group-item{padding:0}
#sideManu .list-group-item a {text-decoration: none;padding: 10px 15px;display: block;color: #444;}
#sideManu .list-group-item {padding: 0;border: 0;background: #f5f5f5;}
#sidebar .thumbnail{background-color: #F0F0F0; border-radius:0}
.list-group-item{}
.old-price{color: #292929;text-decoration: line-through;font-size: 14px;}
.new-price{font-weight:bold}
.product-overlay{position: relative;}
.thumbnail:hover .share-addto-cart {opacity: 1;filter: alpha(opacity=100);height:100%;line-height: 30px;width: 60px;font-size: 12px;}
.share-addto-cart {-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;top: 8px;right: 0;height: 0;line-height: 8px;width: 0;position: absolute;display: inline-block;text-align: center;z-index: 10;opacity: 0;filter: alpha(opacity=0);font-size: 0;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.thumbnail:hover {border-color: #e0e0e0;-webkit-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;}
.thumbnail {border-color: transparent;border-radius: 0;overflow:hidden}
.thumbnail .caption {text-align:center;}
#featured{overflow:hidden;}
#sidebar ul li.open >a , #sidebar ul li.open >a:hover{color: #fff;background: #d9534f;}
#sideManu .list-group-item.open {padding: 0;border: 0;background:#f1f1f1}
.subMenu ul li{background:#FCFCFC}
.subMenu ul li:hover{background:#f5f5f5;}
#sideManu .list-group-item a:hover {color: #ff0000;}
#welcome-line .media-object{width:34px}
#welcome-line  li.media{padding:4px; border-bottom:1px solid #ddd}
#welcome-line .media-heading {margin: 0;font-size: 14px;}
#welcome-line .media-body p {margin: 0;}
.remove-me {float: right;}
.remove-me:hover{color:#444; font-weight:bold}
#sidebar .media-list img{max-width:100px}
.sidebar-title {background: #d9534f;color: #fff;padding: 8px 14px;text-align: left;font-size: 18px;}
#main-col img{max-width:100%}
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%; height: 600px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav {	position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {	padding: 0 10px; 	color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }	
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}