<div id="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
          <li>
            <h5>ACCOUNT</h5>
          </li>
          <li><a href="login.html">YOUR ACCOUNT</a></li>
          <li><a href="login.html">PERSONAL INFORMATION</a> </li>
          <li><a href="login.html">ADDRESSES</a> </li>
          <li><a href="login.html">DISCOUNT</a> </li>
          <li><a href="login.html">ORDER HISTORY</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
          <li>
            <h5>INFORMATION</h5>
          </li>
          <li><%= link_to "CONTACT", contact_us_path %>  </li>
          <li><%= link_to "REGISTRATION", new_registration_path(:user) %> </li>
          <li><%= link_to "LEGAL NOTICE", legal_path %>  </li>
          <li><%= link_to "TERMS AND CONDITIONS", terms_and_conditions_path %> </li>
          <li><%= link_to "FAQ", faq_path %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <ul>
          <li>
            <h5>OUR OFFERS</h5>
          </li>
          <li><a href="#">NEW PRODUCTS</a> </li>
          <li><a href="#">TOP SELLERS</a>  </li>
          <li><a href="special_offer.html">SPECIAL OFFERS</a>  </li>
          <li><a href="#">MANUFACTURERS</a></li>
          <li><a href="#">SUPPLIERS</a> </li>
        </ul>
      </div>
      <div id="socialMedia" class="col-md-3 col-sm-6 col-xs-12 pull-right">
        <h5>SOCIAL MEDIA </h5>
        <%= link_to (image_tag "facebook.png", alt: "Facebook", title: "Facebook", style: "width:60px; height:60px"), root_path %>
        <%= link_to (image_tag "twitter.png", alt: "Twitter", title: "Twitter", style: "width:60px; height:60px"), root_path %>
        <!--<a href="#"><img width="60" height="60" src="themes/img/facebook.png" title="facebook" alt="facebook"/></a>-->
        <!--<a href="#"><img width="60" height="60" src="themes/img/twitter.png" title="twitter" alt="twitter"/></a>-->
        <!--<a href="#"><img width="60" height="60" src="themes/img/rss.png" title="rss" alt="rss"/></a>-->
        <!--<a href="#"><img width="60" height="60" src="themes/img/youtube.png" title="youtube" alt="youtube"/></a>-->
      </div>
    </div>
  </div>
  <!-- Container End -->
</div>
<div id="bottom-line">
  <div class="container">
    <p class="pull-right">&copy; Bellspot</p>
    <p> All rights Reserved <a href="tac.html">Terms</a> <a href="legal_notice.html">Legal notice</a></p>
  </div>
</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->
<!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
<!--<script src="themes/js/bootstrap.min.js" type="text/javascript"></script>-->
<!--<script src="themes/js/custom.js" type="text/javascript"></script>-->
<!-- <script src="themes/js/jquery.lightbox-0.5.js"></script> -->
<script type="text/javascript">
    $('#myCarousel').carousel({
        interval: 7000
    })
    $('#featured').carousel({
        interval: 4000
    })
    $(function() {
        $('#gallery a').lightBox();
    });
</script>