<header id="header">
  <div class="container">
    <div class="hidden-xs hidden-sm">
      <div id="welcome-line" class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 welcome"><%= current_user  ? "Welcome! #{current_user.name}" : "Welcome to Bellspot!" %> </div>
        <div class="col-md-6 col-sm-6 col-xs-12  hidden-xs">
          <div class="pull-right">
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn ">En </button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">En</a></li>
                <!--<li><a href="#">Fr</a></li>-->
                <!--<li><a href="#">Es</a></li>-->
                <!--<li><a href="#">De</a></li>-->
              </ul>
            </div>
            <!-- Split button -->
            <div class="btn-group">
              <button type="button" class="btn dropdown-toggle">&#36; 1200.00</button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">&euro; 882.03</a></li>
                <li><a href="#">&pound; 716.16</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-shopping-cart"></i> Your recent bids[ 4 ]  <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <ul class="media-list">
                    <li class="media item1">
                      <%= link_to (image_tag "products/10.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>
                      <div class="media-body">
                        <h4 class="media-heading">Camera</h4>
                        <p><strong>$220.00</strong></p>
                      </div>
                      <a class="remove-me" href="#"><i class="fa fa-trash-o"></i> remove</a>
                    </li>
                    <li class="media item1">
                      <%= link_to (image_tag "products/9.jpg", alt: "#", class: "media-object"), root_path, class: "pull-left" %>

                      <div class="media-body">
                        <h4 class="media-heading">Camera</h4>
                        <p><strong>$400.00</strong></p>
                      </div>
                      <a class="remove-me" href="#"><i class="fa fa-trash-o"></i> remove</a>
                    </li>
                    <li class="media item1">
                      <%= link_to (image_tag "products/8.jpg", alt: "#", class: "media-object"), "#", class: "pull-left" %>

                      <div class="media-body">
                        <h4 class="media-heading">Classic Camera</h4>
                        <p><strong>$500.00</strong></p>
                      </div>
                      <a class="remove-me" href="#"><i class="fa fa-trash-o"></i> remove</a>
                    </li>
                    <li class="media item1">
                      <%= link_to (image_tag "products/7.jpg", alt: "#", class: "media-object"), "#", class: "pull-left" %>

                      <div class="media-body">
                        <h4 class="media-heading">Lens</h4>
                        <p><strong>$80.00</strong></p>
                      </div>
                      <a class="remove-me" href="#"><i class="fa fa-trash-o"></i> remove</a>
                    </li>
                    <li class="cntr">
                      <a class="btn btn-danger block" href="product_summary.html">$1200.00  Checkout </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#sidebar" style="float: left">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to (image_tag "logo.png", alt: "Bellspot", class: "media-object"), "/", class: "navbar-brand logo hidden-xs" %>
        <%= link_to (image_tag "logo.png", alt: "Bellspot", class: "media-object"), "/", class: "navbar-brand logo mlogo hidden-md hidden-lg hidden-sm" %>

      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
        <form class="hidden-sm" role="search">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <input id="srchFld" type="text" class="form-control" placeholder="I'm looking for ...">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Special Offers", special_offers_path %></li>
          <li><%= link_to "Items", items_path %> </li>
          <li class="hidden-xs"><%= link_to "Contact", contact_us_path %></li>
          <li class="hidden-md hidden-sm hidden-lg"><%= link_to "Login", new_user_session_path %></li>
          <!--<li class="hidden-md hidden-sm hidden-lg"><a href="product_summary.html">Checkout [$1200.00]</a></li>-->
          <li class="dropdown hidden-xs">
            <% if !user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Login <b class="caret"></b></a>
                <% else %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.name %> <b class="caret"></b></a>
                <% end %>
                <ul id="dropped-menu" class="dropdown-menu " role="menu">
              <li>

                <% if user_signed_in? %>


                  <li>
                    <%= link_to(main_app.user_path(current_user)) do %>
                        <i class="icon-user"></i> Profile

                    <% end %>
                  </li>

                  <li>
                    <%= link_to(main_app.edit_user_registration_path) do %>
                        <i class="icon-cog"></i> Preferences

                    <% end %>
                  </li>

                  <li>
                    <%= link_to("#") do %>
                        <i class="icon-envelope visible-desktop"></i> Contact Support

                    <% end %>
                  </li>

                  <li class="divider"></li>

                  <li>
                    <%= link_to(main_app.destroy_user_session_path, :method => 'delete') do %>
                        <i class="icon-off"></i> Sign Out

                    <% end %>
                  </li>




              <% else %>



              <%= form_for(:user, :url => main_app.user_session_path(:next => request.path), html: { class: "form-horizontal", role: "form" } ) do |f| %>

              <!--<form class="form-horizontal" role="form">-->
                  <div class="form-group">
                    <div class="col-sm-12">
                      <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
                      <!--<input type="email" class="form-control" placeholder="Email">-->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>

                      <!--<input type="password" class="form-control" placeholder="Password">-->
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="checkbox">
                        <label>
                          <input id="user_remember_me" type="checkbox" value="1" name="user[remember_me]"> Remember me
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <%= link_to "Forgot Password?", new_password_path('user'), class: "pull-right" %>

                      <%= f.submit 'Sign in', :id => "submit", class: "btn tbn-danger" %>
                    </div>
                  </div>
                <!--</form>-->
                    <% end %>
                    <% end %>
</ul>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
    </div>


  </div>
</header>